

<section class="hero pd" style="padding:0px;">
  <div class="hero-body">
    <div class="container" >
      <h1 class="title"> Your Data . Your Way </h1>
      <div class="column is-half is-offset-one-quarter">
        <h2 class="subtitle is-4" style="color:white; font-size:1.2em">Store your data,perform complex analytics and create and share real-time dashboards</h2>
      </div>
    </div>
  </div>
</section>
<style> 
 @media screen and (min-width: 401px) and (max-width: 768px) {
    .load-btn {
      margin: 0 auto;
      max-width: 300px;
    }
 }

 @media screen and (min-width: 490px) and (max-width: 768px) {
  .upload-file>.btn-margin {
    max-width: 130px;
    width: 100%;
  }
  .load-btn {
    max-width: 461px;
    width: 100%;
  }
 }
 @media screen and (min-width: 401px) and (max-width: 489px) {
  .upload-file>.btn-margin {
    max-width: 110px;
    width: 100%;
  }
  .upload-file p{
    margin: auto 20px 0 0;
  }
  .load-btn {
    max-width: 461px;
    width: 100%;
  }
 }
 @media screen and (max-width: 1007px) and (min-width: 900px) {
  .upload-file p {
    max-width: 90px!important;
    margin: auto 25px 0 0!important;
  }
 }
 @media screen and (max-width: 1007px) and (min-width: 769px) {
  .column.get-back {
    float:left;
  }
  .vendor-img {
   padding: 13% 5%;
  }
  .drop-file {
    float: left;
  }
  .upload-btns {
    display: inline-block;
  }
  .zipper-align {
    float:left;
    margin: 0px 0px 20px;
    clear: both;
  }
  .zipper-align1 {
    display: inline-block;
    margin-top: 20px;
    clear: both;
  }
  hr {
    clear: both;
  }
  .code {
    display: inline-flex;
  }
  .main-visualisation {
    display: inline-flex;
  }
  .visualisation-dash {
    display: inline-block;
  }
  .visualisation-img {
    text-align: center;
    text-align: -webkit-center;
  }
  .visualisation-img img { 
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  .dis-flx {
    display: inline-flex;
  }
  .columns.is-desktop {
    display: inline-flex!important;
  }
  .upload-file p {
    max-width: 75px;
    width: 100% !important;
    padding: 5px;
    margin: auto 15px 0 0;
    border-radius: 7px;
  }
  .zipper-align.title {
    margin-bottom: 60px;
  }
  .zipper-align {
    margin: 0;
  }
}

  @media screen and (min-width: 768px){
    .columns.is-desktop {
      margin: 0px 15px!important;
      }
}

@media screen and (max-width: 768px){
  .section.mob15, .subtitle.mob15 {
    padding: 0 15px!important;
  }
  .load-Data {
    padding-left: 0;
    padding-right: 0; 
  }
   .upload-file > .btn-margin {
    max-width: 110px;
  }
  .vendor-img {
    max-width: 250px;
    width:100%;
    margin: 0 auto;
    padding: 0px;
  }
  .code .is-6 {
    margin-bottom: 30px;
  }
}
@media(max-width:400px) {
  .upload-file > .btn-margin {
    max-width: 80px;
  }
  .upload-file p
  {
    margin: auto 25px 0 0;
  }
}
@media screen and (min-width: 1008px) {
  .code .subtitle {
    padding:12px;
  }
  .code .subtitle .btn-width {
    margin: 0px;
  }
}
@media screen and (min-width: 1008px) and (max-width: 1199px) {
  .upload-file p {
    margin: auto 20px 0 0;
  }
  .vendor-img {
    padding: 13% 5% 0% 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .code>.column>.title {
      margin: 30px 65px!important;
    }
  }
</style>

<section class="section mob15">
  <div class="container">

    <div class="columns is-desktop">
      <div class="column is-5 get-back">
        <p class="title mb0">
          Get back to working on your business,
          while we get to working on your data.
        </p>
        <br/>
        <div class="subtitle">
          <p> 
          BlobCity is a data platform with all in one capabilities.
          It is a NoSQL database, an Al engine, an analytics
          framework, a self-service visaulisation and dashboarding
          too, and it allows you to load stored procedures that
          can extend its built-in functionality. This is the unified data
          platform you wished was created before you got into
          all the data mess
            </p>
        </div>
      </div>
      <div class="column is-2"></div>
      <div class="columns is-5 vendor-img">
        <div class="column">
          <img src="../../assets/Docker_Container_white_icon 2@2x.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/Gartner_CoolVendor-2016-2.png" alt="">
        </div>  
      </div>
    </div>

    <hr>

    <div class="columns is-desktop">
      <div class="column is-5 drop-file">
        <p class="title">
          Load your data, anyway you like
        </p>
        <br/>
        <div class="column is-half is-offset-one-quarter" style="text-align:center; margin-bottom:15px;">
          <img src="../../assets/file-2127833_640.png" alt="" height="160" width="160">
          <br/>
        </div>
        <p  style="font-size:1.1rem;">
          Drop in your files
        </p>
      </div>
      <div class="column is-2"></div>
      <div class="column is-5 upload-btns">
          <section class="load-Data">
            <div class="">
              <div class="title1">
                <p>Simply upload your files over FTP and we will import them.
                We support a variety of formats.
                  </p>
              </div>
              <br/>
              <div class="subtitle load-btn">
                <div class="columns is-mobile upload-file">
                  <p class="button column is-4 btn-margin btn-csv">CSV</p>
                  <p class="button column is-4 btn-margin btn-json">JSON</p>
                  <p class="button column is-4 btn-margin btn-xml">XML</p>
                </div>
                <div class="columns is-mobile upload-file">
                  <p class="button column is-4 btn-margin btn-text">Text</p>
                  <p class="button column is-4 btn-margin btn-logs">Logs</p>
                  <p class="button column is-4 btn-margin btn-sql">SQL</p>
                </div>
                <div class="columns is-mobile upload-file">
                  <p class="button column is-4 btn-margin btn-pdf">PDF</p>
                  <p class="button column is-4 btn-margin btn-word">Word</p>
                  <p class="button column is-4 btn-margin btn-rtf">RTF</p>
                </div>
              </div>
            </div>
          </section>
      </div>
    </div>

    <hr>

    <div class="columns is-desktop">
      <div class="column is-5 no-padding zipper-align">
        <div class="title column is-half is-offset-one-quarter" style="text-align:center; margin-bottom: 75px;">
          <img src="../../assets/Zapier_logo.png" alt="" height="160" width="160">
        </div>
        <p class="line-height">
          Ready connectioin with 750+apps over Zapier
        </p>
        <br/>
      </div>
      <div class="column is-2"></div>
      <div class="column is-5 no-padding zipper-align1">
          <section class="section" style="padding:0px;">
            <div class="" style="padding: 0px;">
              <div class="title">
                <div class="columns is-mobile">
                  <div class="column is-2">
                    <img src="../../assets/salesforce.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/shopify.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/twitter.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/stripe.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/gmail.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/calendar.png" alt="">
                  </div>
                </div>
                <div class="columns is-mobile">
                  <div class="column is-2">
                    <img src="../../assets/woo-commerce.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/slack.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/meetup.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/mailchimp.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/typeform.png" alt="">
                  </div>
                  <div class="column is-2">
                    <img src="../../assets/google-sheets.png" alt="">
                  </div>
                </div>
              </div>
              <br/>
              <div class="subtitle button btn-width">
                <strong> Connect with Zapier</strong>
              </div>
            </div>
          </section>
      </div>
    </div>

    <hr>

    <div class="columns is-desktop code">
      <div class="column is-5 ">
        <p class="title column is-half is-offset-3" style="text-align:center; margin: 55px 90px;">
          <b>
            &lt;CODE>
          </b>
        </p>
        <br/>
        <div class="line-height">
          Ingest via RESTful Web Services
        </div>
      </div>
      <div class="column is-2"></div>
      <div class="column is-5 subtitle mob15">
        <div style="background-color: #2B2727; border-style: ridge; color: azure; margin: 0 auto;">
          <samp>
            <p>curl --data “username=username</p>
            <p>&password=password</p>
            <p>&q=&#123;ds:datastore,c:collection,</p>
            <p>p:[any data, JSON, XML, CSV, Text]&#125;”</p>
            <p>https://db.blobcity/com/rest/bquery</p>
          </samp>
        </div>
        <br/>
        <div class="button subtitle btn-width"><strong> Read the docs</strong></div>
      </div>
    </div>

    <hr>
    
    <div class="columns is-desktop main-visualisation">
      <div class="column is-5 visualisation-dash">
        <p class="title">

            Integrated Visualisation & Real-time
            Sharable Dashboards

        </p>
        <br/>
        <div class="subtitle" style="margin-bottom: 40px;">
          In just a few clicks you can create dashboards over you data in
          BlobCity. Simple drag drop functionality for creating dashboards.
          Your dashboards are automatically updated when your data is
          updated or you insert new data in the tables. Your real-time
          dashboards can be shared with others and also be embedded in
          your web-pages. Feature available by default for all cloud users
        </div>
        <div class="line-height" style="color:royalblue">
          US Census Dashboard (sample)
        </div>
      </div>
      <div class="column is-2"></div>
      <div class="column is-5 visualisation-img">
        <img src="../../assets/visualisation.png" alt="" class="column is-8">
      </div>
    </div>

    <hr>

    <p class="title m30">Multi-model is not "multi" anymore</p>
           
    <div class="columns is-desktop dis-flx">
       <div class="column is-5">  

        <div class="subtitle" >
          <p>Record 1 - JSON</p>
          <pre style="color: royalblue;">

  &#123; "name": “Tom", "age": 45 &#125;
          </pre>
          <br/>
          <p>Record 2 - XML</p>
          <pre style="color: royalblue;">

    &lt;person>
      &lt;name>Alice&lt;/name>
      &lt;age>34&lt;/age>
    &lt;/person>
          </pre>
          <br/>
          <p>Record 1 - CSV/Excel</p>
          <pre style="color: royalblue;">

    name, age
    Henry, 56
          </pre>
          <br/>
        </div>
      </div>
      <div style="border-right:solid">

      </div>
      <div class="column is-7">
          <section class="section">
            <div class="">
              <div class="columns is-mobile">
                <div class="column is-3">
                  <p style="margin-top: 40px;">insert</p>
                  <p>
                    &rarr;
                  </p>
                </div>
                <div class="column is-9">
                  <table>
                    <tr>
                      <th>name</th>
                      <th>age</th>
                    </tr>
                    <tr>
                      <td>Alice</td>
                      <td>34</td>
                    </tr>
                    <tr>
                      <td>Henry</td>
                      <td>56</td>
                    </tr>
                    <tr>
                      <td>Tom</td>
                      <td>45</td>
                    </tr>
                  </table>
                </div>
              </div>
              <br/>
              <div class="subtitle">
                BlobCity automatically converts your data from any format into tabular data
                for SQL based queries and vice versa. You could load all data in JSON and
                export the same as XML or query data from diverse formats as SQL; or export
                data from any format into JSON. This is a first of a kind capability, found in no
                other database. Multi-model handling at it’s best!
              </div>
            </div>
          </section>
      </div>
    </div>

    <div class="columns is-desktop dis-flx" style="background-color: #2B2727; width: 100%; margin: 15px 0px!important">
      <div class="column is-7" style="padding: 30px 30px;">
        <p class="title" style="color:#fff">

            To take or not to take, that is the question

        </p>
        <br/>
        <div class="subtitle">
          <ul style="color: #fff; margin-left: 15px; padding: 30px;">
            <li>
              All users start free. First 100MB free for life.
            </li>
            <li>
              Pay for what you use beyound the free tier.
            </li>
            <li>
              FTP access to upload data files.
            </li>
            <li>
              Integrated visualisation and self-service dashboards.
            </li>
            <li>
              Stored procedures for doing advanced analytics, AI & ML.
            </li>
            <li>
              No credit card required
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-5" style="text-align:center">
          <section class="section" style="background-color: #2B2727; padding: 6rem 1.5rem 0rem;">
            
              <div class="title" style="color:white">
                100MB <span style="font-size: 20px;"> free</span>
              </div>
              <br/>
              <div class="subtitle" style="color:white">
                <p>
                  then $10/GB /month
                </p>
                <br/>
                <div class="button is-large btn-width" style="width: 70%; background-color: #FA1717; color: white; border:none;">Start now</div>
              </div>
            
          </section>
      </div>
    </div>


  </div>

</section>